.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2%;
    align-items: center;
    color: var(--white);

    .title-container {
        font-weight: 700;
        font-size: 30px;
    }

    .form-container {
        width: 50%;

        .form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            input {
                margin: 3%;
                padding: 1.5%;
                background: none;
                border: none;
                outline: none;
                color: var(--white);
                height: 40px;
                width: 70%;
                border: 2px solid var(--border-input-color);
                border-radius: 10px;
                font-size: medium;
            }

            input:hover {
                border: 2px solid var(--pink-navbar-item-border);
            }

            input:focus {
                border: 2px solid var(--pink-navbar-item-border);
            }
        }
    }

    .signin-button {
        width: 70%;
        position: relative;
        background: var(--button-background);
        border-radius: 10px;
        cursor: pointer;
        margin-top: 3%;
        --tw-translate-x: 0;
        --tw-translate-y: 0;
        --tw-rotate: 0;
        --tw-skew-x: 0;
        --tw-skew-y: 0;
        --tw-scale-x: 1;
        --tw-scale-y: 1;
        transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate))
            skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));

        p {
            text-align: center;
            font-weight: 600;
        }
    }

    .not-account {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 2%;

        p {
            color: var(--gray-already-account);
        }

        .signup {
            margin-left: 10px;

            .not-account-signup-button {
                color: var(--white);
                font-weight: 600;
                cursor: pointer;
            }
        }
    }

    .back-to-home {
        display: flex;
        flex-direction: row;
        justify-content: center;
        cursor: pointer;

        .row {
            margin: 12px 10px 0 10px;
        }
    }
}
