.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2%;
    align-items: center;
    color: var(--white);
    border: 1px solid var(--pink-navbar-item-border);

    .title-container {
        font-weight: 700;
        font-size: 30px;
    }

    .form-container {
        width: 50%;
        border: 1px solid var(--pink-navbar-item-border);

        .form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--pink-navbar-item-border);
    
            input {
                margin: 3%;
                padding: 1%;
                background: none;
                border: none;
                outline: none;
                color: var(--white);
                height: 40px;
                width: 50%;
                border: 2px solid var(--border-input-color);
                border-radius: 10px;
                font-size: medium;
            }

            input:hover {
                border: 2px solid var(--pink-navbar-item-border);
            }

            input:focus {
                border: 2px solid var(--pink-navbar-item-border);
            }
        }
    }

    .signup-button {
        width: 50%;
        position: relative;
        background: linear-gradient(90deg, rgba(130,48,160,1) 0%, rgba(193,83,139,1) 35%, rgba(219,125,97,1) 100%);
        border-radius: 10px;
        cursor: pointer;
        margin-top: 3%;
        --tw-translate-x: 0;
        --tw-translate-y: 0;
        --tw-rotate: 0;
        --tw-skew-x: 0;
        --tw-skew-y: 0;
        --tw-scale-x: 1;
        --tw-scale-y: 1;
        transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));

        p {
            text-align: center;
            font-weight: 600;
        }
    }

    .already-account {
        
    }

    .back-to-home {

    }
}