<div class="container">
    <ng-container *ngFor="let ball of balls">
        <app-ball [topLeft]="ball.property === 'topLeft'" [topRight]="ball.property === 'topRight'"></app-ball>
    </ng-container>
    <div [ngClass]="handsetScreen ? 'title-container-handsetScreen' : 'title-container'">
        <h1>{{ "Pages.Signup.Title" | translate }}</h1>
    </div>
    <div class="form-container">
        <form class="form" [formGroup]="signupForm">
            <input
                [ngClass]="handsetScreen ? 'input-handset-screen' : ''"
                type="text"
                formControlName="lastname"
                [placeholder]="'Pages.Signup.Fields.Name' | translate"
            />
            <input
                [ngClass]="handsetScreen ? 'input-handset-screen' : ''"
                type="text"
                formControlName="firstname"
                [placeholder]="'Pages.Signup.Fields.FirstName' | translate"
            />
            <input
                [ngClass]="handsetScreen ? 'input-handset-screen' : ''"
                type="email"
                formControlName="email"
                [placeholder]="'Pages.Signup.Fields.Email' | translate"
            />
            <input
                [ngClass]="handsetScreen ? 'input-handset-screen' : ''"
                type="password"
                formControlName="password"
                [placeholder]="'Pages.Signup.Fields.Password' | translate"
            />
            <input
                [ngClass]="handsetScreen ? 'input-handset-screen' : ''"
                type="password"
                formControlName="confirmedPassword"
                [placeholder]="'Pages.Signup.Fields.ConfirmedPassword' | translate"
            />
            <ng-container *ngIf="isNotSamePassword">
                <p [class.error-message]="isNotSamePassword">
                    {{ "Pages.Signup.FieldsError.IsNotSamePassword" | translate }}
                </p>
            </ng-container>
            <!-- <ng-container *ngIf="allFieldsAreRequired">
                <p [class.error-message]="allFieldsAreRequired">
                    {{ "Pages.Signup.FieldsError.AllFieldsRequired" | translate }}
                </p>
            </ng-container>
            <ng-container *ngIf="emailMustBeUnique">
                <p [class.error-message]="emailMustBeUnique">
                    {{ "Pages.Signup.RequestErrors.EmailMustBeUnique" | translate }}
                </p>
            </ng-container> -->
            <div class="signup-button" (click)="signup()">
                <p>{{ "Pages.Signup.Buttons.Signup" | translate }}</p>
            </div>
        </form>
    </div>
    <div class="already-account" (click)="navigateTo('/signin')">
        <p>{{ "Pages.Signup.AlreadyAccount" | translate }}</p>
        <div class="signup">
            <p class="signin-button">{{ "Pages.Signup.Buttons.Signin" | translate }}</p>
        </div>
    </div>
    <div class="back-to-home" (click)="navigateTo('/home')">
        <mat-icon class="row" aria-hidden="false" aria-label="Row to back home">arrow_back</mat-icon>
        <p>{{ "Pages.Signup.Buttons.BackToHome" | translate }}</p>
    </div>
</div>
