<header class="navbar-container">
    <ng-container *ngIf="handsetScreen; else notHandsetScreen">
        <div class="navbar-handset-screen">
            <!-- <mat-icon class="icon" aria-hidden="false" aria-label="Login button">login</mat-icon>
            <mat-icon class="icon" aria-hidden="false" aria-label="Logout button">logout</mat-icon> -->
            <mat-icon
                class="icon"
                aria-hidden="false"
                aria-label="Navbar menu"
                (click)="menuIsShow ? hideMenu() : showMenu()"
                >menu</mat-icon
            >
        </div>
    </ng-container>
    <ng-template #notHandsetScreen>
        <div class="navbar">
            <div class="logo-and-home-container" (click)="navigateTo('/home')">
                <img class="tasks-logo" src="assets/images/tsks-logo.png" alt="tasks-logo" />
                <div class="navbar-item home">{{ "Components.Navbar.Title" | translate }}</div>
            </div>
            <div class="spacer"></div>
            <ng-container *ngIf="userIsLogged(); else notAuthenticated">
                <div class="navbar-item-border" (click)="navigateTo('/dashboard')">
                    <div class="navbar-item signup">{{ "Components.Navbar.Dashboard" | translate }}</div>
                </div>
                <div class="navbar-item-border" (click)="signout()">
                    <div class="navbar-item signup">{{ "Components.Navbar.Signout" | translate }}</div>
                </div>
            </ng-container>
            <ng-template #notAuthenticated>
                <div class="navbar-item-border navbar-item-border-signin" (click)="navigateTo('/signin')">
                    <div class="navbar-item signin">{{ "Components.Navbar.Signin" | translate }}</div>
                </div>
                <div class="navbar-item-border" (click)="navigateTo('/signup')">
                    <div class="navbar-item signup">{{ "Components.Navbar.Signup" | translate }}</div>
                </div>
            </ng-template>
        </div>
    </ng-template>
</header>
<ng-container *ngIf="menuIsShow">
    <div class="menu">
        <div class="navbar-item home" (click)="navigateTo('/home')">{{ "Components.Navbar.Title" | translate }}</div>
        <ng-container *ngIf="userIsLogged(); else notAuthenticated">
            <div class="navbar-item" (click)="navigateTo('/dashboard')">
                {{ "Components.Navbar.Dashboard" | translate }}
            </div>
            <div class="navbar-item" (click)="signout()">{{ "Components.Navbar.Signout" | translate }}</div>
        </ng-container>
        <ng-template #notAuthenticated>
            <div class="navbar-item" (click)="navigateTo('/signin')">{{ "Components.Navbar.Signin" | translate }}</div>
            <div class="navbar-item" (click)="navigateTo('/signup')">{{ "Components.Navbar.Signup" | translate }}</div>
        </ng-template>
    </div>
</ng-container>
