.popup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white);

    .popup-title {
        text-align: center;
        font-size: 20px;
        font-weight: 700;
    }

    .popup-subtitle {
        text-align: center;
    }

    .inputs-container {
        display: flex;
        flex-direction: column;

        label {
            margin: 3%;
            font-weight: 600;
        }

        input {
            outline: none;
            background: none;
            border: none;
            background-color: var(--white);
            margin: 3%;
            padding: 2%;
            border-radius: 5px;
            font-family: Inter, sans-serif;
        }

        textarea {
            height: 80px;
            resize: none;
            outline: none;
            background: none;
            border: none;
            background-color: var(--white);
            margin: 3%;
            padding: 2%;
            border-radius: 5px;
            font-family: Inter, sans-serif;
        }
    }

    .buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 5% 2% 2% 2%;

        .update-button,
        .create-button,
        .delete-button {
            padding: 2%;
            text-align: center;
            width: 30%;
            cursor: pointer;
            background: var(--green-pastel);
            border-radius: 5px;
            font-weight: 600;
        }

        .cancel-button {
            padding: 2%;
            text-align: center;
            width: 30%;
            cursor: pointer;
            background: var(--red-pastel);
            border-radius: 5px;
            font-weight: 600;
        }
    }
}
