:root {
    --dark-body-color: #1e1e29;
    --gray-before-navbar-item-border: #31303d;
    --pink-navbar-item-border: #f46eaa;
    --white: #ffffff;
    --home-subtitle-color: #c3c3d9;
    --home-learnmore-button: #2e2e3b;
    --border-input-color: #31303d;
    --gray-already-account: #686a70;
    --button-background: linear-gradient(90deg, rgba(130,48,160,1) 0%, rgba(193,83,139,1) 35%, rgba(219,125,97,1) 100%);
    --task-created-at-color: #E0BBE4;
}