<div class="container">
    <div class="title-container">
        <div class="sub-container-title">
            <p class="title">{{ "Pages.ConfirmedMail.Title" | translate }}</p>
            <p class="subTitle">{{ "Pages.ConfirmedMail.SubTitle" | translate }}</p>
        </div>
    </div>

    <div class="form-container">
        <label>{{ "" | translate }}</label>
        <input type="text" placeholder="{{ 'Pages.ConfirmedMail.Placeholder' | translate }}" />
    </div>

    <div class="button-container">
        <app-button [simpleButton]="true"></app-button>
    </div>
</div>
