.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;

    .banner-title {
        font-size: xx-large;
        color: var(--white);
    }

    .banner-subtitle {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 50%;
        text-align: center;
        color: var(--home-subtitle-color);
        font-size: large;
    }

    .buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin: 5%;
        color: var(--home-subtitle-color);
        font-size: large;
        font-weight: 500;
        // background: linear-gradient(90deg, rgba(187,63,221,1) 0%, rgba(251,109,169,1) 35%, rgba(255,159,124,1) 100%);

        .get-started-button {
            width: 20%;
            margin: 10px;
            background: var(--button-background);
            border-radius: 20px;
            cursor: pointer;

            .content {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .learn-more-button {
            width: 20%;
            margin: 10px;
            background-color: var(--home-learnmore-button);
            border-radius: 20px;
            cursor: pointer;

            .content {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}