@import url("./theme/variables.scss");
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import url("../node_modules/angular-notifier/styles.css");

body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    background-color: var(--dark-body-color);
}

mat-dialog-container {
    background-color: var(--dark-body-color) !important;
}

body::-webkit-scrollbar {
    display: none;
}

html,
body {
    height: 100%;
}
