<div class="dashboard-container">
    <div class="projects-column-container">
        <div class="projects-title-container">
            <mat-icon class="assignment-icon" aria-hidden="false" aria-label="Assignment icon">assignment</mat-icon>
            <h3>{{ "Pages.Dashboard.ProjectList.Title" | translate }}</h3>
        </div>
        <app-button [settingsButton]="true" (click)="navigateTo('settings')"></app-button>
        <app-button
            [newProjectButton]="true"
            (click)="openUpdateTaskPopup('', '', false, false, false, true)"
        ></app-button>
        <ng-container *ngFor="let project of projects">
            <app-button
                [projectButton]="true"
                [projectName]="project"
                (click)="changeProjectTitle(project)"
            ></app-button>
        </ng-container>
    </div>
    <div class="todos-column-container">
        <div class="project-title-container">
            <mat-icon class="check-icon" aria-hidden="false" aria-label="Check icon">check</mat-icon>
            <h1>{{ projectName }}</h1>
        </div>
        <div class="button-container">
            <div class="delete-project-button">
                {{ "Pages.Dashboard.Buttons.Delete" | translate }}
            </div>
        </div>
        <div class="project-description-container">
            <p>
                Project description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, officiis numquam?
                Culpa voluptatem veritatis sequi.
            </p>
        </div>
        <div class="todos-list-container">
            <div class="todo-list-wrapper">
                <div class="todo-list-columns" cdkDropListGroup>
                    <div class="todo-column">
                        <div class="column-title">
                            {{ "Pages.Dashboard.TodosList.TodoTitle" | translate }}
                        </div>

                        <div
                            class="tasks-container"
                            cdkDropList
                            #todoList="cdkDropList"
                            [cdkDropListData]="todos"
                            (cdkDropListDropped)="drop($event)"
                        >
                            <app-button
                                [newTaskButton]="true"
                                (click)="openUpdateTaskPopup('', '', true, false)"
                            ></app-button>
                            <ng-container *ngFor="let task of todos">
                                <app-task
                                    cdkDrag
                                    [class.grab]="grab"
                                    [class.grabbing]="grabbing"
                                    mat-raised-button
                                    [taskName]="task"
                                    (isDeletedButton)="setDeletedButton($event)"
                                    (click)="
                                        openUpdateTaskPopup(
                                            task,
                                            task,
                                            false,
                                            isDeletedButton ? false : true,
                                            isDeletedButton
                                        )
                                    "
                                ></app-task>
                            </ng-container>
                        </div>
                    </div>
                    <div class="todo-column">
                        <div class="column-title">
                            {{ "Pages.Dashboard.TodosList.DoingTitle" | translate }}
                        </div>

                        <div
                            class="tasks-container"
                            cdkDropList
                            #todoList="cdkDropList"
                            [cdkDropListData]="doing"
                            (cdkDropListDropped)="drop($event)"
                        >
                            <app-button
                                [newTaskButton]="true"
                                (click)="openUpdateTaskPopup('', '', true, false)"
                            ></app-button>
                            <ng-container *ngFor="let doingTask of doing">
                                <app-task
                                    cdkDrag
                                    [class.grab]="grab"
                                    [class.grabbing]="grabbing"
                                    [taskName]="doingTask"
                                    (isDeletedButton)="setDeletedButton($event)"
                                    (click)="
                                        openUpdateTaskPopup(
                                            doingTask,
                                            doingTask,
                                            false,
                                            isDeletedButton ? false : true,
                                            isDeletedButton
                                        )
                                    "
                                ></app-task>
                            </ng-container>
                        </div>
                    </div>
                    <div class="todo-column">
                        <div class="column-title">
                            {{ "Pages.Dashboard.TodosList.DoneTitle" | translate }}
                        </div>

                        <div
                            class="tasks-container"
                            cdkDropList
                            #todoList="cdkDropList"
                            [cdkDropListData]="done"
                            (cdkDropListDropped)="drop($event)"
                        >
                            <app-button
                                [newTaskButton]="true"
                                (click)="openUpdateTaskPopup('', '', true, false)"
                            ></app-button>
                            <ng-container *ngFor="let doneTask of done">
                                <app-task
                                    cdkDrag
                                    [class.grab]="grab"
                                    [class.grabbing]="grabbing"
                                    [taskName]="doneTask"
                                    (isDeletedButton)="setDeletedButton($event)"
                                    (click)="
                                        openUpdateTaskPopup(
                                            doneTask,
                                            doneTask,
                                            false,
                                            isDeletedButton ? false : true,
                                            isDeletedButton
                                        )
                                    "
                                ></app-task>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
